name: Build and Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"

jobs:
  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: "temurin"
      - name: Install dependencies
        run: flutter pub get
      - name: Build APK
        run: flutter build apk --release --split-per-abi --android-skip-build-dependency-validation
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Android
          path: build/app/outputs/flutter-apk/*.apk

  build-windows-x64:
    name: Build Windows x64
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Install dependencies
        run: flutter pub get
      - name: Build
        run: flutter build windows --release
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Windows-x64
          path: build/windows/x64/runner/Release/
          compression-level: 9

  build-windows-arm64:
    name: Build Windows ARM64
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Install dependencies
        run: flutter pub get
      - name: Build
        run: flutter build windows --arm64 --release
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Windows-ARM64
          path: build/windows/arm64/runner/Release/
          compression-level: 9

  build-linux-x64:
    name: Build Linux x86-64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Install dependencies
        run: |
          sudo apt update -y
          sudo apt install -y libgtk-3-dev
          flutter pub get
      - name: Build
        run: flutter build linux --release
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Linux-x64
          path: build/linux/x64/release/bundle/
          compression-level: 9

  build-linux-arm64:
    name: Build Linux arm64
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Install dependencies
        run: |
          sudo apt update -y
          sudo apt install -y libgtk-3-dev
          flutter pub get
      - name: Build
        run: flutter build linux --release
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Linux-ARM64
          path: build/linux/arm64/release/bundle/
          compression-level: 9

  build-macos:
    name: Build macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Install dependencies
        run: flutter pub get
      - name: Build
        run: flutter build macos --release
      - name: Create DMG
        run: hdiutil create -format UDZO -srcfolder build/macos/Build/Products/Release/*.app output.dmg
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: macOS
          path: output.dmg